<div class="center jumbotron">
  <h1>今日のご飯決めたろう</h1>

  <h2>
    This is the home page for the
    <%# ここにログイン画面貼り付ける %>
    <a href= new_user_session_path></a>
    recommend application.
  </h2>

  <%= link_to "Sign up now!",  new_user_registration_path, class: "btn btn-lg btn-primary" %>
</div>

