<div class="center jumbotron">
  <h1>今日のご飯決めたろう</h1>

<div class="square-container">
    <div class="row">
      <% 6.times do |i| %>
        <div class="col-6 col-md-4 col-lg-2">
          <div class="square-box d-flex align-items-center justify-content-center">
            
            <span><%= "#" %></span>
          </div>
        </div>
      <% end %>
    </div>
  </div>

</div>

