@import "bootstrap-sprockets";
@import "bootstrap";

/* lessをrubyに変換 */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* 全体的な見栄え調整 */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* タイポグラフィの調整 */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* form */

input, textarea {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

.session-field{
  width: 300px;
  margin: 0 auto;
}

  .square-box{
  width: 100%;
  padding-top: 100%;
  background-color: #75c0ec;
  border: 1px solid #ccc;
  border-radius: 8px; 
  margin-bottom: 30px; 
  position: relative;
  overflow: hidden; 
}
.square-box span{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5em;
  font-weight: bold;
  color: #555;
}

.square-container .col-6:nth-child(1) .square-box {
  background-color: #75c0ec;
}

.square-container .col-6:nth-child(2) .square-box {
  background-color: #75c0ec; 
}

.square-container .col-6:nth-child(3) .square-color-box {
  background-color: #75c0ec; 
}

.square-container .col-6:nth-child(4) .square-color-box {
  background-color: #75c0ec; 
}

.square-container .col-6:nth-child(5) .square-color-box {
  background-color: #75c0ec; 
}

.square-container .col-6:nth-child(6) .square-color-box {
  background-color: #75c0ec; 
}

